
#gameboard {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
    
}

.square {
    height: 40px;
    width: 40px;
    position: relative; 
}
.square svg {
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;

}
path{
    position: relative;
    z-index: -10;
}
.piece{
    position: relative;
    z-index: 9;
}
.beige {
    background-color:rgb (110,110,98);
}

.brown {
    background-color: rgb(169, 43, 43);
}
.black {
    fill:rgb(28,28,28);
}

.white {
    fill:rgb(255,255,255);
} 

 .square:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Medium screens */
@media (min-width: 768px) {
    #gameboard {
        max-width: 480px; /* Adjust as needed */
    }
}

/* Large screens */
@media (min-width: 1200px) {
    #gameboard {
        max-width: 640px; /* Adjust as needed */
    }
} 